!!! 5
html(lang="en")
	head
		title="monokro.me"

		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Allerta")
		link(rel="stylesheet", type="text/css", href="http://media.monokro.me/styles/common.css")

	body
		ul
			li(id="header")="monokro.me"
			li(id="navigation")
				nav
					ul
						li
							a(href="/")="Home"
						li
							a(href="http://blog.monokro.me/")="Blog"
						li
							a(href="/about/")="About"

